<div style="height: 85vh; width: 100%;">
  <pdf-viewer [src]="pdfSrc"
              [render-text]="true"
              [show-all]="false"
              [original-size]="false"
              [zoom-scale]="'page-width'"
              [zoom]="zoom"
              [stick-to-page]="true"
              [page]="currentPage"
              style="width: 100%; height: 100%"
  ></pdf-viewer>
</div>
<div class="row" style="align-self: center;">
  <div>
    <ion-button (click)="prevPage()" shape="block" *ngIf="currentPage > 1">
      <ion-icon name="chevron-back-outline"></ion-icon>
      Anterior
    </ion-button>
  </div>
  <div>
    <ion-button (click)="nextPage()" *ngIf="currentPage < totalPages">
      Siguiente
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>
</div>
