<ion-header>
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Barra de navegación inferior -->
<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="escanear-codigo-qr">
      <ion-icon name="scan-outline"></ion-icon>
      <ion-label>Escanear código QR</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ver-reglamento">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Reglamento</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ver-clases">
      <ion-icon name="book"></ion-icon>
      <ion-label>Clases</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ver-historial-clase">
      <ion-icon name="time"></ion-icon>
      <ion-label>Historial Asistencias</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
