<ion-header>
  <ion-toolbar>
    <div>
      <ion-title style="text-align: center; margin-right: -40%;">RegistrApp</ion-title>
      <ion-img src="assets/logo-duoc-12.png" style="height: 10%; width: 10%; margin-right: 30%;"></ion-img>
      <ion-button (click)="cerrarSesion()" [routerLink]="['/login']">cerrar sesion</ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-title>Bienvenido {{ nombreUsuario }}</ion-card-title>
  </ion-card>
</ion-content>

<!-- Barra de navegación inferior -->
<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="escanear-codigo-qr">
      <ion-icon name="scan-outline"></ion-icon>
      <ion-label>Escanear código QR</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ver-reglamento">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Reglamento</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ver-clases">
      <ion-icon name="book"></ion-icon>
      <ion-label>Clases</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ver-historial-clase">
      <ion-icon name="time"></ion-icon>
      <ion-label>Historial Asistencias</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>