.backgroundTest1{
    --background: #56cccf;
}

.backgroundTest2{ //No funciona
    width: 100%;
    height: 100%;
    background-image: url('https://3.bp.blogspot.com/-Er6KdEhunc8/UK-DwesH13I/AAAAAAAAAgU/KAllUo54EDE/s1600/logo-duoc.jpg');
    background-size: cover;
} 